---
interface Props {
  title: string;
  description: string;
  tech: string[];
  slug: string;
  index?: string;
}

const { title, description, tech, slug, index } = Astro.props;
---

<a href={`/projects/${slug}`} class="group block py-4">
  <h3 class="text-xl md:text-2xl font-bold text-gray-900 dark:text-white group-hover:text-primary-600 dark:group-hover:text-primary-400 transition-colors">
    {index && <span class="mr-3 font-semibold">{index}</span>}{title}
  </h3>
  <p class="mt-1.5 text-gray-700 dark:text-gray-300 leading-relaxed text-justify [hyphens:auto]">
    {description}
    <span class="italic text-gray-500 dark:text-gray-400 whitespace-nowrap"> [{tech.slice(0, 3).join(", ").toLowerCase()}]</span>
  </p>
</a>
